torch==2.7.0 
transformers==4.53.2
langchain==0.3.27
langchain-community==0.3.27
langchain-huggingface==0.3.1
langchain-qdrant==0.2.0
sentencepiece==0.2.0
sentence-transformers==5.0.0
accelerate==1.5.2
flash-attn==2.8.2
datasets==3.5.1
trl==0.19.1
peft==0.15.2
bitsandbytes==0.45.5